body{
	background-color:#ddd;
	color: #282828;
	font-family: "verdana";
	font-size: 14px;
}
h1,h2,h3{
	font-family: sans-serif,"verdana";
	margin: 0;
}
h2{
	font-size: 45px;
	color: darkred;
	text-align: center;
}
img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
	width: 150px;
}
a{
	color:darkred;	
	font-size: 16px;
	font-weight: 550;
	text-decoration-line: none;
	padding: 0;
	margin:  0;
}
a:hover{
	text-decoration-line: underline;
}
div > p{}

/*------------------------------------------*/

div.galeria-de-productos{
	display: grid;
	justify-content: center;
	grid-template-columns: repeat(auto-fill, 280px);
	grid-auto-rows:auto; 
}
article.gal{
	display: flex;
	flex-direction: column;

/*	background-color: #75A6FE; */
	text-align: justify;
	padding: 10px;
	margin:  20px;
	border: 5px solid #05A;
	border-radius: 20px;
}
div.imagen{
	background-color: #fff;
	text-align: center;
	border-radius: 20px 20px 0 0;
}

/*------------------------------------------*/

